<div class="loginwrap">
    <span class="login-head">Login</span>
    <form #userName="ngForm" (ngSubmit)="onClickSubmit(userName.value) ">
        <div class="unamelabel ">Username</div>
        <fieldset class="unamecontrol controlwrap"> <input type="text " class="form-control " name="username " placeholder="Enter username " ngModel>
        </fieldset>
        <div class="passwordlabel ">Password</div>

        <fieldset class="passwordcontrol controlwrap"><input type="password " class="form-control " name="password " placeholder="Enter password " ngModel>
        </fieldset>
        <div class="submitwrap"> <button type="submit " (click)="submit()">Login</button></div>
        <div class="forgotpass"><span>Forgot password?</span><a href="">Click Here</a></div>
    </form>
</div>