<form #userName="ngForm" (ngSubmit)="onClickSubmit(userName.value) ">

    <fieldset class="form-group ">
        <input type="text " class="form-control " name="first_name " placeholder="first_name " ngModel>
    </fieldset>
    <fieldset class="form-group ">
        <input type="text " class="form-control " name="last_name " placeholder="Enter Last Name " ngModel>
    </fieldset>
    <fieldset class="form-group ">
        <input type="text " class="form-control " name="username " placeholder="Enter Username " ngModel>
    </fieldset>
    <fieldset class="form-group ">
        <input type="email " class="form-control " name="email " placeholder="Enter email " ngModel>
    </fieldset>
    <fieldset class="form-group ">
        <input type="password " class="form-control " name="password " placeholder="Enter Password " ngModel>
    </fieldset>
    <fieldset class="form-group text-xs-right ">
        <button type="submit " (click)="submit()">Submit</button>
    </fieldset>
</form>