<!-- <form #userName="ngForm" (ngSubmit)="onClickSubmit(userName.value) ">

    <fieldset class="form-group ">
        <input type="text " class="form-control " name="first_name " placeholder="first_name " ngModel>
    </fieldset>
    <fieldset class="form-group ">
        <input type="text " class="form-control " name="last_name " placeholder="Enter Last Name " ngModel>
    </fieldset>
    <fieldset class="form-group ">
        <input type="text " class="form-control " name="username " placeholder="Enter Username " ngModel>
    </fieldset>
    <fieldset class="form-group ">
        <input type="email " class="form-control " name="email " placeholder="Enter email " ngModel>
    </fieldset>
    <fieldset class="form-group ">
        <input type="password " class="form-control " name="password " placeholder="Enter Password " ngModel>
    </fieldset>
    <fieldset class="form-group text-xs-right ">
        <button type="submit " (click)="submit()">Submit</button>
    </fieldset>

</form> -->
<div class="Signup">
    <span class="sign-head">Register</span>
    <form #userName="ngForm" (ngSubmit)="onClickSubmit(userName.value) ">

        <div class="unamelabel">UserName</div>

        <fieldset class="unamecontrol controlwrap"> <input type="text " class="form-control " name="username " placeholder="Enter username " ngModel>
        </fieldset>
        <div class="unamelabel">First Name</div>
        <fieldset class="unamecontrol controlwrap"> <input type="text " class="form-control " name="first name " placeholder="Enter First Name " ngModel>
        </fieldset>
        <div class="unamelabel">Last Name</div>
        <fieldset class="unamecontrol controlwrap"> <input type="text " class="form-control " name="last name " placeholder="Enter Last Name " ngModel>
        </fieldset>
        <div class="unamelabel">Email</div>
        <fieldset class="unamecontrol controlwrap"> <input type="email " class="form-control " name="email " placeholder="Enter Email " ngModel>
        </fieldset>
        <div class="passwordlabel">Password</div>
        <fieldset class="passwordcontrol controlwrap"><input type="password" ngModel><span></span></fieldset>

        <div class="submitwrap"> <button type="submit " (click)="submit()">Register</button></div>


    </form>
</div>